.menu-icon {
    display: none;
    margin-right: 10px;
    cursor: pointer;

    &__dark {
        color: white;
    }

    @media (max-width: 700px) {
        display: block;
    }
}

.burger-icon {
    width: 35px;
    height: 35px;
}